.mainpage{
width: 100vw;
height: 100%;
background: url("https://ik.imagekit.io/amazon98760/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676991382751");
background-size: 100vw;
background-color:antiquewhite;



}