.navbar_component{
height: 60px;
width: 100vw;
background-color: #131a22;
display: flex;
}
.navbar_logo{
    background:url('https://ik.imagekit.io/amazon98760/amazon-image/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676991382452') no-repeat -9px -50px;
	width: 98px;
	height: 31px;
    margin: 18px;
}
.navbar_location{
    color:white;
    font-weight: bold;
    margin-left: 5px;
}
.navbar_locator{
    display: flex;
    margin: 20px 0px;
}
.navbar_locatorimg{

    background: url('https://ik.imagekit.io/amazon98760/amazon-image/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676991382452') no-repeat -70px -378px;
	width: 16px;
	height: 18px;
}
.navbar_searchcomponent{
    display: flex;
}
.navbar_searchbox{
    width: 620px;
    height: 30px;
    margin-top: 12px;
    
}
.searchicondiv{
   width: 48px;
   height: 34px;
   margin-top: 13px;
    background-color: #FEBD69;
    border-radius: 0px 5px 5px 0px;
}
.navbar_searchicon{

    background: url( 'https://ik.imagekit.io/amazon98760/amazon-image/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676991382452')  no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 8px;

}
.dropbox{
    width: 59px;
    height: 36px;
    margin-top: 12px;
    border-radius: 5px 0px 0px 5px;
    text-align-last:center ;
    margin-left: 10px;
}
.navbar_sigin{
color: white;
width: 120px;
margin-top: 10px;
margin-left: 50px;

}
.navbar_order{
color: white;
width: 120px;
margin-top: 10px;
margin-left: 40px;
}
.navbar_cart{
color: white;
width: 120px;
margin-top: 15px;
display: flex;
}
.cart_icon{
    background: url( 'https://ik.imagekit.io/amazon98760/amazon-image/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676991382452')  no-repeat -217px -336px;
	width: 43px;
	height: 30px;
}
.cart{
    margin-top: 10px;
    font-weight: bold;
}
.cart_item{
    position: relative;
    left: -23px;
    font-weight: bolder;
    top: -3px;
    color: chocolate;
}
.navbar_footer{
width: 100vw;
height: 30px;
background-color: #232F3E;
display: flex;

}
.navbar_footer_text{
    color: white;
    margin: 5px 10px;
    font-weight: bold;
    font-size: 12px;

}
